$color-background-primary: #000;
$color-background-secondary: #E0E0E0;
$color-background-default: #FFF;

$color-text-header: #07227B;
$color-text-primary: #000;
$color-text-contrast-primary: #FFF;
$color-text-secondary: #444;

$color-selectable: #29ABE2;
$color-selected: #21B14B;

$gradient-primary: linear-gradient(45deg, $color-selectable, $color-selected)